@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #354cce;
  --green-mute: #00bfa6;
  --green: #049a18;
  --black: #192a56;
  --light-color: #444;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --gradient: linear-gradient(90deg, var(--blue), var(--green-mute));
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #eee;
}

.heading {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 5rem 0;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: var(--green-mute);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.3rem;
}

.btn:hover {
  background: var(--gradient);
}

.Membership {
  margin-top: 10rem;
}

.Membership form {
  max-width: 90rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: none;
  /* background: rgba(255, 255, 255, 0.6); */
  background: linear-gradient(
    90deg, 
    rgb(0, 191, 166, .3), 
    rgb(53, 76, 206, .3)
  );
  padding: 1.5rem;
  margin: 0 auto 4rem;
  
}

.Membership form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputBox .form-control,
.inputBox .checkbox {
  position: relative;
  width: 49%;
}

.inputBox .form-control label,
.inputBox .checkbox label:first-child{
  display: block;
  padding: 0.5rem 0;
  font-size: 1.8rem;
  color: var(--light-color);
}

.form-control input,
.checkbox .select-btn,
.form-control select {
  background: #eee;
  border: .3rem solid #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 2rem;
  width: 100%;
}

.checkbox .select-btn,
.form-control select {
  cursor: pointer;
}

.checkbox .select-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.checkbox .input-box {
  position: relative;
  background-color: #eee;
  /* padding-left: 12px; */
  border: .1rem solid #888;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.select-btn.open ~ .input-box{
  display: block;
}

.input-box .box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px 6px;
}

.input-box .box:hover {
  background-color: #9be0f1;
}

.input-box .box label {
  color: var(--black);
  text-transform: capitalize;
  padding-left: 12px;
  cursor: pointer;
  display: block;
  width: 100%;
  font-size: 1.8rem;
}

.input-box .box:hover label {
  color: #fff;
}

.input-box .box .checkboxe {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.form-control input:focus,
.checkbox .select-btn:focus,
.form-control select:focus {
  /* border: 0.1rem solid var(--blue); */
  outline: 0;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.Membership form button:last-child {
  /* margin-top: 0; */
  margin-left: 1.5rem;
  background: var(--blue);
  transition: .5s;
}


/* ================ */


.form-control i {
  font-size: 1.8rem;
	visibility: hidden;
	position: absolute;
	top: 50%;
	right: 13px;
  transform: translateY(10%);
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
  font-size: 1.6rem;
	color: #e74c3c;
	position: absolute;
	bottom: -5px;
	right: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.show {
  display: none;
}

/* .submit.show {
  display: none;
} */


/* .form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
} */

/* ================ */

/* ===== PDF ===== */

.container_pdf {
  /* height: 100vh; */
  height: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background: linear-gradient(
    90deg, 
    rgb(0, 191, 166, .3), 
    rgb(53, 76, 206, .3)
  );
}

.pdf {
  position: relative;
  max-height: 982px;
  /* height: auto; */
  max-width: 595px;
  background: rgba(255, 255, 255, 0.5);
}

.pdf .photo {
  position: absolute;
  top: 4px;
  right: 30px;
  width: 130px;
  height: 160px;
  /* background-color: #9be0f1; */
  border: 1px dotted #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdf .photo span {
  font-size: 1.5rem;
}

.pdf .logo {
  display: flex;
  margin: 20px;
  margin-top: 40px;
  position: relative;
}

.pdf .logo img {
  width: 91px;
  padding-right: 15px;
  filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.4));
  z-index: 10;
}

.pdf .logo p {
  color: var(--green-mute);
  font-size: 20px;
  font-weight: bold;
}

.pdf .logo p span {
  color: var(--blue);
  font-size: 18px;
  font-weight: bold;
}

.pdf h1 {
  text-align: center;
  padding-top: 85px;
  color: var(--green);
}

.pdf .elelments {
  /* position: relative; */
  margin: 30px;
  margin-top: 10px;
}

.pdf .elelments .time {
  width: 100%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: end;
  /* background-color: #9be0f1; */
}

.time span {
  font-size: 1.3rem;
  /* bottom: -20px; */
}

.pdf .elelments div {
  width: 100%;
  /* background-color: #9be0f1; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdf .elelments div p {
  width: 50%;

}

.pdf .elelments p {
  font-size: 18px;
  padding: 8px;
  /* width: 400px; */
}

.pdf .elelments p strong {
  display: flex;
  /* align-items: center; */
  justify-content: start;
}

.pdfBtn {
  margin: 2rem 0;
}

.pdfBtn button {
  margin-right: 1.5rem;
}

/* ===== MEDIA ===== */

@media (max-width:1124px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {

  .Membership form {
    margin: 0 8rem 5rem;
  }

  .Membership form .inputBox .form-control,
  .Membership form .inputBox .checkbox {
    width: 100%;
  }

  .Membership form .inputBox .form-control label,
  .Membership form .inputBox .form-control input,
  .Membership form .inputBox .form-control select,
  .Membership form .inputBox .form-control textarea {
    font-size: 1.6rem;
  }

  /* PDF */

  .pdf .logo {
    margin: 2rem;
  }
  
  .pdf .logo img {
    width: 8rem;
  }
  
  .pdf .logo p {
    font-size: 1.6rem;
  }
  
  .pdf .logo p span {
    font-size: 1.6rem;
  }
  
  .pdf h1 {
    font-size: 1.8rem;
    padding: 2rem 4rem 0 ;
  }
  
  .pdf .elelments {
    margin: 4rem;
  }
  
  .pdf .elelments p {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .pdfBtn .btn {
    font-size: 1.6rem;
  }
  
  .pdfBtn button {
    margin-right: 1.5rem;
  }
}

@media (max-width: 432px) {
  .heading{
    font-size: 3rem;
    padding: 1rem;
    margin-bottom: 3rem;
  }

  .Membership form {
    margin: 0 4rem 4rem;
  }

  
  /* PDF */

  
  .pdf .logo img {
    width: 6rem;
  }
  
  .pdf .logo p {
    font-size: 1.4rem;
  }
  
  .pdf .logo p span {
    font-size: 1.4rem;
  }
  
  .pdf h1 {
    font-size: 1.4rem;
    padding:2rem 1rem 0 ;
  }
  
  .pdf .elelments {
    margin: 1rem;
  }
  
  .pdf .elelments p {
    font-size: 1.2rem;
  }
  
  
.pdfBtn {
  margin: 2rem 0;
}

  .pdfBtn .btn {
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
  }
  
}
