@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #354cce;
  --green-mute: #00bfa6;
  --green: #049a18;
  --black: #192a56;
  --light-color: #444;
  --gradient: linear-gradient(90deg, var(--blue), var(--green-mute) )
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;

}

/* ===== container ===== */

.heading {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 5rem 0;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  background: var(--green-mute);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .3rem;
}

.btn:hover {
  background: var(--gradient);
}

/* ===== HOME ===== */

section {
  padding: 3rem 9%;
}

section:nth-child(odd) {
  background: #eee;
}

.home {
  height: 85rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.home .content,
.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  margin-bottom: 2rem;
}

.home .content h3 {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
}

.home .content p {
  padding: 2rem 0;
  font-size: 1.9rem;
  color: #666;
}

.home .side-left {
  width: 4rem;
  position: fixed;
  bottom: 20px;
  left: auto;
  right: 1rem;
  z-index: 10;
}

/* ===== ICONS SOCIAL ===== */

.side-left .icons-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-left .icons-social::after {
  content: '';
  display: block;
  width: .1rem;
  height: 9rem;
  margin: 0 auto;
  background-color: var(--green-mute);
  margin-top: 1rem;
}

.icons-social .fa-brands {
  font-size: 2.5rem;
  padding: .6rem;
}

.icons-social .fa-instagram {
  color: #dd6b91;
}

.icons-social .fa-facebook {
  color: #354cce;
}

/* ===== PROJECTS SECTION ===== */

.programs {
  padding-bottom: 10rem;
}

.programs .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4.5rem;
  margin: 0 1.5rem;
}

.programs .box-container .box {
  flex: 1 1 40rem;
  border-radius: .5rem;
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.2);
  border: .1rem solid rgba(0, 0, 0, .1);
  position: relative;
  padding: 1rem;
  /* overflow: hidden; */
}

.programs .box img {
  height: auto;
  width: 100%;
}

.programs .box:hover {
  box-shadow: none;
  border: none;
}

.programs .box h1 {
  font-size: 2.5rem;
  color: var(--blue);
  padding-top: 1rem;
}

.programs .box p {
  font-size: 1.5rem;
  padding: .5rem 0;
}

.programs .box .image a:hover {
  letter-spacing: 2px;
}

.programs .box .image::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  position: absolute;
  top: -2px;
  opacity: 0;
  transition: 0.5s;
}

.programs .box .image:hover::before {
  opacity: 0.4;
}

.vision {
  background-color: var(--green-mute);
}

.vision .content {
  padding: 4rem 0;
  text-align: center;
}

.vision .content .heading {
  padding: 0;
  padding-bottom: 1rem;
  font-size: 5rem;
  font-weight: 600;
  color: #f9f9f9;
}

.vision .content .main {
  color: #f9f9f9;
  font-weight: 300;
  font-size: 2rem;
  text-shadow: 0px 0px 100px rgb(0 0 0 / 60%);
}



/* media queries */

@media (max-width:1124px) {
  html {
    font-size: 55%;
  }
}

@media (max-width:768px) {
  html {
    font-size: 45%;
  }

  .home {
    height: 100rem;
    margin-top: 5rem;
  }
}