@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #354cce;
  --green-mute: #00bfa6;
  --green: #049a18;
  --black: #192a56;
  --light-color: #444;
  --gradient: linear-gradient(90deg, var(--blue), var(--green-mute) )
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 5rem 0;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}

.heading h2 {
  font-weight: 600;
}

body {
  overflow-x: hidden;

}

.main {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  padding: 3rem 4%;
  flex-direction: column;
}

/* ===== Office Style ===== */

.office {
  position: relative;
  width: 100%;
  /* height: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #00bfa6; */
}

.title {
  font-size: 2.8rem;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--green-mute);
  text-align: center;
}

.name {
  font-size: 2rem;
  margin-top: 20px;
  font-weight: 600;
  color: var(--light-color);
  text-align: center;
}

.office-body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 60px 0;
}

.office-card {
  display: flex;
  flex-direction: column;
  /* gap: 80px; */
}

.office-card.president {
  position: relative;
  top: -50px;
}

.consultants {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.office-card > div:first-child {
  margin-bottom: 100px;
}

.office-card div,
.consultants div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.office-img,
.office-img {
  position: relative;
  width: 20rem;
  height: 26rem;
  border: 2px solid #00bfa6;
  border-radius: 1rem;
  overflow: hidden;
  transition: all .6s ease;
  margin: 0;
  padding: 0;
}

.office-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .6s ease;
}

.office-img:hover img {
  transform: scale(1.2) rotate(10deg);
}

.office-img:hover {
  box-shadow: 4px 4px 25px rgba(0, 0, 0, .4) ;
  /* border-color: transparent; */
}

/* media queries */

@media (max-width:815px) {
  .office-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    margin-bottom: 0px;
  }
  
  .office-card {
    flex-direction: row;
    gap: 80px;
    /* margin: 0 60px; */
  }

  .office-card.president {
    position: absolute;
    top: 0px;
  }

  .office-card.writer {
    margin-top: 420px;
  }
  
  .office-card > div:first-child {
    position: relative;
    top: -50px;
  }

  .title {
    font-size: 2.6rem;
  }
  
  .name {
    font-size: 1.8rem;
  }

}

@media (max-width:450px) {
  .office-card {
    gap: 20px;
  }

  .office-img {
    width: 18rem;
    height: 24rem;
  }
}

/* ===== Team Style ===== */

.team {
  /* min-height: 60vh; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  margin-top: 6rem;
}

.team .heading {
  font-size: 3rem;
}

.cards {
  /* margin: 20rem 0; */
  margin-top: 8rem;
  margin-bottom: 6rem;
  display: flex;
}

.card {
  margin: 4rem;
  position: relative;
  background: linear-gradient(
    90deg, 
    rgba(0, 191, 166, .1), 
    rgba(53, 76, 206, .1)
  );
  width: 40rem;
  height: 22rem;
  border-radius: 2rem;
  box-shadow: 0 35px 80px rgba(0, 0, 0, .15);
  transition: .5s;
}

.card:hover {
  height: 50rem;
}

.card .imgBx {
  position: absolute;
  left: 50%;
  top: -10rem;
  transform: translateX(-50%);
  width: 18rem;
  height: 23rem;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 15px 50px rgba(0, 0, 0, .35);
  overflow: hidden;
  transition: .5s;
}

.card:hover .imgBx {
  width: 25rem;
  height: 30rem;
}

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.card .content .details {
  padding: 40px 0;
  text-align: center;
  width: 100%;
  transition: .5s;
  transform: translateY(150px);
}

.card:hover .content .details {
  transform: translateY(0px);
}

.card .content .details h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--light-color);
  line-height: 1.2em;
}

.card .content .details h2 span {
  font-size: .75em;
  font-weight: 500;
  opacity: .5;
}

.card .content .details .data {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.card .content .details .data i {
  font-size: 1.5em;
  color: var(--light-color);
  line-height: 1.4em;
  font-weight: 600;
}

.card .content .details .data i.fa-twitter {
  color: #1da1f3;
}

.card .content .details .data i.fa-instagram {
  color: #dd6b91;
}

.card .content .details .data i span {
  text-transform: lowercase;
  font-size: .85em;
  font-weight: 400;
}

.card .content .details .data i.fa-twitter span {
  color: var(--light-color);
}

.card .content .details .data i.fa-instagram span {
  color: var(--light-color);
}

.card .content .details .actionBtn {
  display: flex;
  justify-content: space-evenly;
}

.card .content .details .actionBtn button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.5em;
  font-weight: 500;
  background: var(--green-mute);
  color: #fff;
  cursor: pointer;
}

.card .content .details .actionBtn a:nth-child(2) button {
  border: 1px solid #999;
  color: #999;
  background: transparent
}


/* media queries */

@media (max-width:768px) {
  .cards {
  display: flex;
  flex-direction: column;
  }

  .cards .card:last-child {
    margin-top: 15rem;
  }

}

@media (max-width:425px) {
  .card {
    font-size: 85%;
    width: 36rem;
    height: 22rem;
  }
  
  .card:hover {
    height: 44rem;
  }

  .card .imgBx {
    top: -6rem;
    width: 16rem;
    height: 20rem;
  }
  
  .card:hover .imgBx {
    top: -10rem;
    width: 23rem;
    height: 28rem;
  }

  .card .content {
    padding-bottom: 1rem;
  }

  .card:hover .content {
    padding-bottom: 0rem;
  }

  .card .content .details {
    padding-bottom: 4rem;
  }

  .card .content .details .actionBtn button {
    padding: 1rem 3rem;
    font-size: 1.4rem;
  }
}