@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #354cce;
  --green-mute: #00bfa6;
  --green: #049a18;
  --black: #192a56;
  --light-color: #444;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --gradient: linear-gradient(90deg, var(--blue), var(--green-mute));
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.heading {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 5rem 0;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  background: var(--green-mute);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .3rem;
}

.btn:hover {
  background: var(--gradient);
}

section {
  padding: 8rem;
}

.library {
  /* padding-top: 20rem; */
  height: 100vh;
}

.library .programme {
  /* outline: none; */
  display: flex;
  flex-direction: row;
  /* border: .1rem solid #00bfa6; */
  justify-content: space-between;
  gap: 5rem;
  margin-top: 8rem;
}

.library .programme .right {
  position: relative;
  padding: 0 auto;
  /* border: .1rem solid #00bfa6; */
  position: sticky;
  display: block;
  align-items: center;
}

.library .programme .right button {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  color: var(--blue);
  border: .1rem solid #00bfa6;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
}

.library .programme .right button:hover {
  color: #ffffff;
  background: var(--gradient);
  border: none;
}

.library .programme .left {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: .1rem solid #00bfa6;
}

.library .programme .left .heading {
  position: absolute;
  width: 100%;
  top: -5rem;
  left: 50%;
  transform: translate(-50%);
  color: var(--green-mute);
}

.library .programme .left .side {
  margin-top: 10rem;
  width: 49%;
}

.library .programme .wrapper {
  position: relative;
}

.library .programme .wrapper .toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  border: .1px solid rgba(0, 0, 0, 0.10);
  transition: all .1s ease;
  outline: none;
  cursor: pointer;
}

.library .programme .wrapper .toggle.active {
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
  border: none;
}

.library .programme .wrapper .toggle::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 10px;
  bottom: 30px;
  border-left: .2rem solid var(--green-mute);
  transition: all .5s ease;
}

.library .programme .wrapper .toggle.active::before {
  bottom: 5px;
}

.library .programme .content {
  position: relative;
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: all 1s;
  margin-left: 30px;
  margin-bottom: 20px;
}

.library .programme .content p {
  color: var(--light-color);
}

.library .programme .optionTow {
  display: none;
}

.library .programme .optionthree {
  display: none;
}

.library .programme .optionTow.active {
  display: flex;
}

.library .programme .optionOne.active {
  display: none;
}