@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #354cce;
  --green-mute: #00bfa6;
  --green: #049a18;
  --black: #192a56;
  --light-color: #444;
  --gradient: linear-gradient(90deg, var(--blue), var(--green-mute) )
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;

}

/* ===== container ===== */

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  background: var(--green-mute);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .3rem;
}

.btn:hover {
  background: var(--gradient);
}

.heading {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 10rem 0 2rem;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}

/* ===== club ===== */

section {
  margin-top: 7rem;
}

.club .content {
  position: relative;
}

.club .content .header {
  padding: 14rem 0;
  background-color: var(--blue);
}

.club .content .header .links {
  padding-left: 10%;
  margin-top: -10rem;
}

.club .content .header a {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
  cursor: pointer;
}

.club .content .header a:hover {
  color: black;
}

.club .content .header h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  color: #fff;
  padding-left: 25%;
  margin-top: 4rem;
  letter-spacing: 4px;
}

.club .content .image {
  position: relative;
  width: 60rem;
}

.club .content .image img {
  width: 100%;
  position: absolute;
  top: -24rem;
  left: 20%;
}

.club .content .description {
  display: grid;
  place-items: center;
  margin-top: 14rem;
}

.club .content .description h2 {
  color: var(--green-mute);
  margin: 4rem 0;
  text-align: center;
  font-size: 5rem;
}

.club .content .description p {
  font-size: 2.5rem;
  letter-spacing: 2px;
  line-height: 5rem;
  color: var(--light-color);
  width: 70%;
}

.club .content .description p::first-letter {
  padding-left: 5rem;
}

/* ===== SPORT IMAGES ===== */

.club .content .slide-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 60%; */
  min-width: 380px;
  border-radius: 5px;
  padding: 0 30px;
}

.club .content .slide-container h2 {
  color: var(--green-mute);
  margin: 6rem 0;
  text-align: center;
  font-size: 5rem;
}

.club .content .image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.club .content .image-container img {
  position: relative;
  width: 50vw;
  display: none;
}

.club .content .active {
  display: block;
}

.club .content .dot-container {
  width: 150px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.club .content button {
  outline: none;
  cursor: pointer;
}

.club .content .dot-container button {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 3px solid #52ecb9;
  background-color: transparent;
}

.club .content .dot-container button:nth-child(1) {
  background-color: #52ecb9;
}

.club .content #prev,
.club .content #next {
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: #52ecb9;
  color: #fff;
  margin: auto;
  top: 50%;
  transform: translateY(100%);
  /* bottom: 50%; */
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bolder;
}

.club .content #prev {
  left: 30px;
}

.club .content #next {
  right: 30px;
}


/* ===== WiQaya ===== */

.club .content .description ol {
  margin-top: 4rem;
}

.club .content .description ol li {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.club .content .description ol li a {
  color: var(--blue);
}

.wiqaya .content .doc::before {
  position: absolute;
  top: 5rem;
  right: 50%;
  transform: translateX(50%);
  content: "";
  width: 80%;
  height: 2rem;
  border-top: .5rem solid #00bfa6;
}

.wiqaya .content .doc {
  position: relative;
  padding: 4rem;
  /* border: 1rem solid var(--blue); */
  padding-top: 10rem;
  display: grid;
  place-items: center;
}

.wiqaya .content .doc .pdfs {
  display: grid;
  place-items: center;
  /* grid-template-columns: repeat(auto-fill, minmax(65rem, 1fr)); */
  gap: 5rem;
  margin: 0 4rem;
}

.wiqaya .content .doc .pdf {
  border: .1rem solid rgba(0, 0, 0, .1);
  display: grid;
  place-items: center;
}

.wiqaya .content .doc img {
  width: 100%;
  height: 80rem;
  object-fit: cover;
}

.wiqaya .content .doc .pdf {
  /* width: 100%; */
  width: 65rem;
  height: 100rem;
}

.wiqaya .content .doc .pdf i {
  color: var(--blue);
  font-size: 2.2rem;
  padding-left: 1rem;
}

/* media queries */

@media (max-width:1440px) {
  .club .content .header h1{
    padding-left: 55%;
  }

  .club .content .image img {
    left: 10%;
  }
}

@media (max-width:1024px) {
  .club .content .header h1{
    margin-top: 6rem;    
  }

  .club .content .image {
    width: 50rem;
  }
}

@media (max-width:768px) {
  .club .content .header h1{
    margin-top: 2rem;
    padding-left: 0;
  }

  .club .content .image {
    width: 100%;
  }

  .club .content .image img {
    width: 70%;
    left: 50%;
    top: -10rem;
    transform: translate(-50%);
  }

  .club .content .description {
    margin-top: 22rem;
  }

  .club .content .description h2 {
    margin-top: 10rem;
  }

  .club .content .description p {
    width: 85%;
  }

  .club .content .doc h2 {
    font-size: 2.8rem;
  }

  .club .content #prev {
    left: 10px;
  }

  .club .content #next {
    right: 10px;
  }

  .club .content img {
    width: 80vw;
  }

  .wiqaya .content .doc .pdfs {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* margin: 0 2rem; */
    /* grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr)); */
  }

  .wiqaya .content .doc .pdf {
    border: none;
    height: auto;
    width: auto;
  }

  .wiqaya .content .doc .pdfs img {
    width: 100%;
    height: 35rem;
    object-fit: contain;
  }

  .content .description .list {
    margin-left: 5rem;
  }

/* 
  .club .content .doc .pdf {
    width: 40rem;
    height: 60rem;
  }

  .club .content .doc object.pdf {
    width: 100%;
  }

  .club .content .doc .pdf {
    border: none;
  }

  .club .content .doc img {
    width: 40rem;
    height: 30rem;
    object-fit: contain;
  } */
  
}

@media (max-width:432px) {
  section {
    margin-top: 6rem;
  }

  .club .content .header h1{
    font-size: 5rem;
  }

  .club .content .image img {
    width: 85%;
  }

  .club .content .description {
    margin-top: 8rem;
  }
  
  .club .content .description h2 {
    font-size: 3.5rem;
  }

  .club .content .description p {
    font-size: 1.8rem;
    letter-spacing: 1.4px;
    line-height: 4rem;
  }

  .club .content .slide-container h2 {
    font-size: 3.5rem;
  }

  .wiqaya .content .doc {
    padding: 0;
    padding-top: 10rem;
  }

  .wiqaya .content .doc h2 {
    padding: 0 1rem;
    font-size: 2.5rem;
  }

  .wiqaya .content .doc .pdfs {
    margin-bottom: 5rem;
  }

  .wiqaya .content .doc .pdfs img {
    height: 25rem;
  }

}